article h2{
    color: white;
    text-shadow: 1px 5px 2px  black;
}
article{
    min-height: 100%;
} 
.skillbox{
    display: block;
    background-color: #333;
    padding: 5px;
    height: auto;
    width: 240px;
    border-radius: 7%;
    text-align: center;
    box-shadow: 2px 5px 7px black;
}
.skills{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    animation: fade 2s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.skilltxt{
    padding: 5px;
    color: white;
    padding: 10px;
    list-style: none;
    text-align: center;
    font-size: 1.2em;
}